setuptools
numpy
pandas
matplotlib
seaborn
plotly
dash==2.11.1 
dash-bootstrap-components==1.4.0
scikit-learn
scipy
statsmodels
jupyter
nltk
TextBlob
Sastrawi
WordCloud
spacy
transformers
torch
tensorflow
sentence-transformers
scikit-learn
deep_translator